{% extends "./base.html" %}


{% block content %}
    {% load static %}
    <!-- /.site-header -->
    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <img style="width: 100%" src={% static "images/slide2.jpg" %}>
        </div>

        <div class="col-md-7">
            <div class="thumbnail">
                <h3 style="text-align: center">স্থান<hr/></h3>
                <p style="font-size: 105%">ফেনী জেলার ছাগলনাইয়া উপজেলাধীন ০৯ নং শুভপুর ইউনিয়নের দক্ষিন বল্লভপুর গ্রামে ঐতিহাসিক কৈয়ারা দীঘি সংলগ্ন দক্ষিন পূর্ব কোনে এক মনোরম পরিবেশে দারোগাহাট ইসলামিয়া মাদ্রাসাটিঅবস্থিত।</p>
                <p>০১-০১-১৯৭৩ ইং সনে ধর্মপ্রান এলাকাবাসী এ মাদ্রাসাটি প্রতিষ্ঠা করেন।সরকারী বিধিমালা পূরণ সাপেক্ষে মাদ্রাসাটি ১৯৮৫ সালে এবেতদায়ী মঞ্জুরী লাভ করে। পরবর্তীতে ১৯৮৭ সালে দাখিল খোলার অনুমতি পেয়ে ১৯৮৯ সালে দাখিল স্বীকৃতি লাভ করে। একইভাবে ০১-০৭-১৯৯০ ইং আলিম খোলার অনুমতি পেয়ে ০১-০৭-১৯৯২ইং আলিম স্বীকৃতি লাভ করে।</p>
            </div>
        </div>

    </div>
    <div id="field_history" class="thumbnail" style="display: block; font-size: 110%"><h3 style="text-align: center">ইতিহাস<hr/></h3><div>
            <p>
                                                  <p>
                                dsafsdafsadf            </p>
</div></div>

</div>
{% endblock content %}